*.o
*.filters 
*.user 
*.ilk 
*.obj
*.ipch 
*.suo 
*.sdf 
*.rc 
*.lastbuildstate 
*.manifest 
*.res
*.log
*.tlog
*.exe
*.pdb 
*.idb
*.out
*.in
*.bak
*.rar
*.prefs
*.class
L0Q2JOAO.out.txt
L0Q2TESTE.txt
*.classpath